	<div class="col-md-4 col-md-offset-4">
		<div class="trip-well center">
			<% if trip.image != nil %>
				<%= image_tag trip.image, class: "trip-photo" %>
			<% end %>
			<h3><%= link_to trip.name, trip, class: "trip-link" %></h3>
			<p><%= trip.dates %></p>
			<p><%= trip.return_date %></p>
			<p><%= trip.city %>, <%= trip.country %></p>
		</div>
	</div>

