<p id="notice"><%= notice %></p>

<div class="container">
	<p><%= image_tag @trip.image %></p>

	<h1><%= @trip.name %></h1>

	<p>
	  <%= @trip.dates %>
	</p>

	<p>
	  <%= @trip.city %>, <%= @trip.country %>
	</p>

	<p>
	  Departing flight #: <%= @trip.departing_flight %>
	</p>

	<p>
	  Return flight #: <%= @trip.return_flight %>
	</p>

	<%= link_to 'Edit', edit_trip_path(@trip) %> |
	<%= link_to 'Destroy', @trip, remote: true, method: :delete, data: { confirm: 'Are you sure?' } %> 
</div>