<p id="notice"><%= notice %></p>


<div class="col-md-3 center trip_border">
	<h1><%= @trip.name %></h1>

	<h4><%= @trip.dates.to_date %></h4>

	<h4><%= @trip.city %>, <%= @trip.country %></h4>

	<% if @trip.departing_flight != "" %>
		<p>Departing flight #: <%= @trip.departing_flight %></p>
	<% end %>

	<% if @trip.return_flight != "" %>
		<p>Return flight #: <%= @trip.return_flight %></p>
	<% end %>
</div>

<div class="col-md-8 top-row center">
	<div class="row">
		<p class="right" id="add_partner"><i class="fa fa-plus "></i> Travel Partners</p>
	</div>
	<div id="partner"></div>

	<div id="inline" class="center row">
		<% @trip.partners.each do |partner| %>
				<div class="add-spacing">
					<p><%= image_tag partner.image, class:"partner_images" %></p>
					<h4><%= partner.name %></h4>
					<p><%= partner.phone_number %></p> 
					<p><%= partner.email %></p>
					<p><%= partner.notes %></p><br />
					<p>Emergency Contact:</p>
					<p><%= partner.em_contact %></p> 
					<p><%= partner.em_number %></p>
					<p><%= link_to "Delete", delete_partner_path(id: partner.id), data: { confirm: 'Are You Sure?' } %></p>
				</div>
		<% end %>	
	</div>
</div>

<div class="invisible center" id="new_partner">
	<%= form_tag(create_partner_path) do %>
		<%= text_area_tag :name, nil, placeholder: "Name" %> 
		<%= text_area_tag :phone_number, nil, placeholder: "Phone Number" %>
		<%= text_area_tag :email, nil, placeholder: "Email" %>
		<%= text_area_tag :em_contact, nil, placeholder: "Emergency Contact: Name" %>
		<%= text_area_tag :em_number, nil, placeholder: "Phone Number" %>
		<%= text_area_tag :notes, nil, placeholder: "Notes. . ." %>
		<%= hidden_field_tag :user_id, current_user.id %>
		<%= hidden_field_tag :trip_id, @trip.id %>
		<p class="far-right"><%= file_field_tag :image %></p>
		<%= submit_tag "Submit", class: "btn btn-primary" %>
	<% end %>
</div>

<div class="itinerary col-md-8"> 
	<div id="add_activity" class="row">
		<div id="add_activity">
			<p class="right add_activity_link"><i class="fa fa-plus"></i> Activities</p>
			<h4>Itinerary:</h4>
			<% @trip.itineraries.each do |itinerary| %>
				<p>
					<strong><%= itinerary.date %> :</strong> <%= itinerary.activity %>    
					<%= link_to "Delete", delete_itinerary_path(id: itinerary.id), data: { confirm: 'Remove Activity?'} %>		
				</p>
			<% end %>
		</div>
	</div>
	<div id="activity"></div>
</div>

<div class="invisible center" id="new_activity">
	<%= form_tag(create_itinerary_path) do %>
		<p><%= text_area_tag :date, nil, placeholder: "Date & Time" %></p> 
		<p><%= text_area_tag :activity, nil, placeholder: "Description" %></p>
		<p><%= hidden_field_tag :user_id, current_user.id %><%= hidden_field_tag :trip_id, @trip.id %><%= submit_tag "Submit", class: "btn btn-primary" %></p>
	<% end %>
</div>




<div class="col-md-8 col-md-offset-1">
	<div class="row">
		<p class="right" id="add_photo"><i class="fa fa-plus"></i> Photos</p>
	</div>
	<div id="photo"></div>
	<div class="row show-row">
		<p>
			<% @trip.photos.each do |photo| %>
				<%= link_to all_photos_path(id: @trip.id) do%>
					<%= image_tag photo.image, class: "show-images" %>
				<% end %>
			<% end %>
		</p>
	</div>
</div>

<div class="invisible center" id="photo_form">
	<%= form_tag(upload_photo_path) do %>
		<p class="far-right"><%= file_field_tag :image %></p>
		<%= hidden_field_tag :user_id, current_user.id %>
		<%= hidden_field_tag :trip_id, @trip.id %>
		<%= submit_tag "Submit", class: "btn btn-primary" %>
	<% end %>
</div>
