<p id="notice"><%= notice %></p>

<div class="container">
	<div class="col-md-3">

		<h1><%= @trip.name %></h1>

		<p>
		  <%= @trip.dates %>
		</p>

		<p>
		  <%= @trip.city %>, <%= @trip.country %>
		</p>

		<p>
		  Departing flight #: <%= @trip.departing_flight %>
		</p>

		<p>
		  Return flight #: <%= @trip.return_flight %>
		</p>


	</div>

	<div class="col-md-2 col-md-offset-1 center">
		<p><%= image_tag "daniel.jpeg", class: "contact-pics" %></p>
		<p>
			<strong>Daniel: 404-404-4444</strong>
		</p>
		<p>daniel@gmail.com</p>		<p>Emergency Contact:</p>
		<p>404-404-4044 (Mom)</p>
	</div>

	<div class="col-md-2 col-md-offset-1 center">
		<%= form_tag(create_partner_path) do %>
			<p><%= text_area_tag :name, nil, placeholder: "Name" %></p>
			<p><%= text_area_tag :phone_number, nil, placeholder: "Phone Number" %></p>
			<p><%= text_area_tag :email, nil, placeholder: "Email" %></p>
			<p>Emergency Contact:</p>
			<p><%= text_area_tag :em_contact, nil, placeholder: "Name" %></p>
			<p><%= text_area_tag :em_number, nil, placeholder: "Number" %></p>
			<p><%= text_area_tag :notes, nil, placeholder: "Notes. . ." %></p>
			<p><%= file_field_tag :image %></p>
			<p><%= hidden_field_tag :user_id, current_user_id %></p>
			<p><%= hidden_field_tag :trip_id, @trip.id %></p>
			<p><%= submit_tag "Submit", class: "btn btn-primary" %></p>


	</div>

	<div class="col-md-2 col-md-offset-1 center">
		<p><%= image_tag "michael.png", class: "contact-pics" %></p>
		<p>
			<strong>Michael: 404-111-1111</strong>
		</p>
		<p>suzie@gmail.com</p>
		<p>Emergency Contact:</p>
		<p>770-777-7070 (Sister)</p>
	</div>
	
	<div class="col-md-8 itinerary">
		<div class="row">
			<p class="right" id="add_activity"><i class="fa fa-plus"></i> Activities</p>
			<h4>Itinerary:</h4>
			<% @trip.itineraries.each do |itinerary| %>
				<p>
					<strong><%= itinerary.date %> :</strong> <%= itinerary.activity %>    
					<%= link_to "Delete", delete_itinerary_path(id: itinerary.id), data: { confirm: 'Remove Activity?'} %>		
				</p>
			<% end %>
		
		</div>

		<div id="new_activity" class="invisible">
			<%= form_tag(create_itinerary_path) do %>
				<p><%= text_area_tag :date, nil, placeholder: "Date & Time" %></p>
				<p><%= text_area_tag :activity, nil, placeholder: "Description" %></p>
				<p><%= hidden_field_tag :user_id, current_user.id %></p>
				<p><%= hidden_field_tag :trip_id, @trip.id %></p>
				<p><%= submit_tag "Submit", class: "btn btn-primary" %></p>
			<% end %>
		</div>
	</div>


	<div class="col-md-8 col-md-offset-1">
		<div class="row">
			<p class="right" id="add_photo"><i class="fa fa-plus"></i> Photos</p>
		</div>
		<div class="row show-row">
			<p>
				<% @trip.photos.each do |photo| %>
					<%= link_to all_photos_path(id: @trip.id) do%>
						<%= image_tag photo.image, class: "show-images" %>
					<% end %>
				<% end %>
			</p>

			<div class="invisible center" id="photo_form">
				<%= form_tag(upload_photo_path) do %>
					<p><%= file_field_tag :image %>
					<%= hidden_field_tag :user_id, current_user.id %>
					<%= hidden_field_tag :trip_id, @trip.id %>
					<%= submit_tag "Submit", class: "btn btn-primary" %></p>
				<% end %>
			</div>
		</div>
	</div>
</div>
