<body class="homepage">	


	<div id="homepage-header" class="row">
		<div class="col-md-4 col-md-offset-4">
			<div id="load_pg" class="well center middle-center">
					<h1>Let's Explore!</h1>
			</div>
		</div>	
	</div>

	<div class="invisible" id="sample_destinations">
		<p class="right far-right">
			<%= link_to trips_path do %>
			<i class="fa fa-calendar"></i> My Trips
			<% end %>
		</p>
		
		<div class ="container">

			<div class="row google_map_2">
				<div class="panel-body" id="map-canvas"></div>
			</div>

			<div class="row center">

				<div class="col-md-4">
					<div class="homepage-well" id="atlanta_box">
						<h3 class="white" id="destination_city">A T L A N T A</h3>
						<%= image_tag "atl.jpeg", class: "images" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="homepage-well" id="caracas_box">
						<h3 class="white" id="destination_city">C A R A C A S</h3>
						<%= image_tag "caracas_monument.jpeg", class: "images" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="homepage-well" id="london_box">
						<h3 class="white" id="destination_city"> L O N D O N</h3>
						<%= image_tag "london.jpeg", class: "images" %>
					</div>
				</div>
			</div><br />

			<div class="row center">

				<div class="col-md-4 col-md-offset-2">
					<div class="homepage-well" id="nairobi_box">
						<h3 class="white" id="destination_city">N A I R O B I</h3>
						<%= image_tag "nairobi_natl_museum.jpeg", class: "images" %>
					</div>
				</div>

				<div class="col-md-4">
					<div class="homepage-well" id="bali_box">
						<h3 class="white" id="destination_city">B A L I</h3>
						<%= image_tag "bali.jpeg", class: "images" %>
					</div>
				</div>


			</div>
		</div>
	</div>
</body>