<div class ="container blk_bg">
	<div class="row">
		<div class="col-md-10" id="map-canvas"></div>
	</div>

	<div class="row">
		<div class="col-md-4 preview_box">
			<div class="well">
				<%= image_tag "atl.jpeg", class: "images" %>
				<%= image_tag "atl_stone_mtn.jpeg", class: "images" %>
				<%= image_tag "ga_aquarium.jpeg", class: "images" %>
				<h3> Atlanta, Georgia </h3>
			</div>
		</div>

		<div class="col-md-4 preview_box">
			<div class="well">
				<%= image_tag "caracas_monument.jpeg", class: "images" %>
				<%= image_tag "caracas_teleferico.jpeg", class: "images" %>
				<%= image_tag "caracas_view.jpeg", class: "images" %>
				<h3> Caracas, Venezuela </h3>
			</div>
		</div>

		<div class="col-md-4 preview_box">
			<div class="well">
				<%= image_tag "london.jpeg", class: "images" %>
				<%= image_tag "london_eye.jpeg", class: "images" %>
				<%= image_tag "london_stonehenge.jpeg", class: "images" %>
				<h3> London, United Kingdom </h3>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4 preview_box">
			<div class="well">
				<%= image_tag "nairobi_natl_museum.jpeg", class: "images" %>
				<%= image_tag "nairobi_natl_park.jpeg", class: "images" %>
				<%= image_tag "nairobi_view.jpeg", class: "images" %>
				<h3> Nairobi, Kenya </h3>
			</div>
		</div>
		<div class="col-md-4 preview_box">
			<div class="well">
				<%= image_tag "bali.jpeg", class: "images" %>
				<%= image_tag "bali_waterpark.jpeg", class: "images" %>
				<%= image_tag "bali_ocean.jpeg", class: "images" %>
				<h3> Bali, Indonesia </h3>
			</div>
		</div>
	</div>
</div>

