<div class="row center">
	<h1>Atlanta, Georgia</h1>
	<h4><%= @time.strftime("%b %d, %Y | %I:%M %P") %></h4>
</div>


<div class="row">
	<div class="col-md-4">
		<div class="well center">
			<h1>	<%= @temp_f.to_i %>&deg; F </h1>
					<p>
						<%= @weather_words %> <%= image_tag @weather_icon %>
					</p>
					<p>
						<%= link_to "Full Forecast", @forecast_link, target: "blank" %>
					</p>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-4">
		<div class="well">
			<a class="twitter-timeline"  href="https://twitter.com/hashtag/Atlanta" data-widget-id="789589526893256704"  data-chrome="noheader nofooter noborders noscrollbar transparent" data-link-color="000000" tweet-limit="2">#Atlanta Tweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			          

			<a class="twitter-timeline"  href="https://twitter.com/hashtag/Atlanta" data-widget-id="789589526893256704" data-chrome="noheader nofooter noborders noscrollbar transparent" data-link-color="000000" tweet-limit="2">#Atlanta Tweets</a>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		</div>
	</div>
</div>