<!DOCTYPE html>
<html>
  <head>
    <title>Travel Planner </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

  	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>">
 		</script>


    <%= yield %>
  </body>
</html>
